/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.center {
    text-align: center;
}

.error {
    border: 1px solid red;
}

.hide {
    display:none;
}

.message-ok {
    position: absolute;
    padding: 10px 10px;
    background: #a9ef9e;
    right: 0;
    font-size: 0.83em;
    min-width: 150px;
    max-width: 250px;
    border-radius: 5px;
    text-align: center;
    filter: drop-shadow(0 3px 5px #ccc);
    line-height: 2;
    z-index: 100;
}

.message-error {
    position: absolute;
    padding: 10px 10px;
    background: #eac8c8;
    right: 0;
    font-size: 0.83em;
    min-width: 150px;
    max-width: 250px;
    border-radius: 5px;
    text-align: center;
    filter: drop-shadow(0 3px 5px #ccc);
    line-height: 2;
    z-index: 100;
}

.message-error-tooltip {
    position: absolute;
    padding: 10px 10px;
    background: #eac8c8;
    right: 0;
    font-size: 0.83em;
    min-width: 150px;
    max-width: 600px;
    border-radius: 5px;
    text-align: center;
    filter: drop-shadow(0 3px 5px #ccc);
    line-height: 0.8;
}
    .message-error-tooltip:after {
        content: "";
        background: #eac8c8;
        position: absolute;
        top: -9px;
        left: 50%;
        margin-left: -9px;
        width: 18px;
        height: 18px;
        transform: rotate(45deg);
    }